@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #0a2a43;
    min-height: 1500px;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #0a2a43, transparent);
    z-index: 100000;
}
section::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:  #0a2a43;
    z-index: 100000;
    mix-blend-mode: color;
}
section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
#text{
    position: relative;
    color: #fff;
    font-size: 10em;
    z-index: 1;
}
#road{
    z-index: 2;
}
#spaceship{
    width: 171px;
    height: 171px;
    margin-left: 77px;
    top: 114px;
}

.paragraph{
    color: white;
    text-align: justify;
    padding: 20px 20px;
    margin-top: 50px;
}
.paragraph h1{
    
    text-align: center;
    
}
#human{
    width: 250px;
    height: 250px;
    z-index: 2;
    top: 463px;
    margin-left: 30px;
}
